body{
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.cardPreview{
    background-color: hsl(216, 50%, 16%);
    border-radius: 20px;
    box-shadow: 0px 20px 10px 10px hsl(216, 52%, 10%), 0px 20px 10px 35px hsl(217, 54%, 11%);
    color: hsl(215, 51%, 70%);
    margin: 20vh auto;
    padding: 1.5%;
    width: 20%;
}

p{
    margin: 0;
}

.title{
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 20px;
    margin: 20px 0;
}

.creatorName{
    color: hsl(0, 0%, 100%);
}

.flex-container {
    display: flex;
    align-items: center;
}

.hr{
    border: solid hsl(215, 51%, 70%);
    border-width: 0 0 1px 0;
    margin: 0 0 15px 0;
    opacity: 0.25;
}

.img{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mainImg{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}

.imgHover{
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    background-color:  hsl(178, 100%, 50%, 0.5);
    opacity: 0;
}

.imgHover > svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imgHover:hover{
    opacity: 1;
    cursor: pointer;
}

.eth{
    color: hsl(178, 100%, 50%);
    flex: 1;
}

.days{
    text-align: right;
}

.description{
    font-weight: 300;
    margin: 0 0 20px 0;
}

.description > p{
    margin: 0 0 20px 0;
}

.creator{
    display: flex;
    align-items: center;
}
.creator > img{
    max-width: 10%;
    border: 1.5px solid white;
    border-radius: 50%;
}

.creator > p{
    margin: 0 15px;
}

.auxiliarText{
    display: inline;
    font-size: 16px;
    margin: 0 5px;
}

.textHover:hover{
    color: hsl(178, 100%, 50%);
    cursor: pointer;
}

@media only screen 
    and (max-device-width: 480px){

    .cardPreview{
        padding: 5%;
        width: 75%;
    }
}

@media only screen 
    and (min-device-width: 481px) 
    and (max-device-width: 768px){

    .cardPreview{
        padding: 4%;
        width: 55%;
    }
}

@media only screen 
    and (min-device-width: 769px) 
    and (max-device-width: 1024px){

    .cardPreview{
        padding: 3%;
        width: 35%;
    }
}

@media only screen 
    and (min-device-width: 1025px) 
    and (max-device-width: 1200px){

    .cardPreview{
        padding: 2%;
        width: 25%;
    }
}