body{
    background-color: hsl(217, 54%, 11%);
    font-family: 'Outfit', sans-serif;
    font-size: 18px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.cardPreview{
    background-color: hsl(216, 50%, 16%);
    border-radius: 20px;
    color: hsl(215, 51%, 70%);
    margin: 20vh auto;
    padding: 1.5%;
    width: 20%;
}

.title{
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 20px;
}

.creatorName{
    color: hsl(0, 0%, 100%);
}

.flex-container {
    display: flex;
  }

img{
    max-width: 100%;
}

.eth{
    color: hsl(178, 100%, 50%);
    flex: 1;
    font-size: 16px;
}

.days{
    flex: 1;
    text-align: right;
    font-size: 16px;
}

.description{
    font-weight: 300;
}

.creator{
    display: flex;
    align-items: center;
}
.creator > img{
    max-width: 10%;
    border: 1.5px solid white;
    border-radius: 50%;
}

.creator > p{
    display: inline;
    margin: 0 15px;
    font-size: 16px;
}